body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.info-header img{
    width: 100px;
    height: 100px;
}

.header{
    background-color: #1f2937;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20vh;
    margin-right: 20vh;
    align-items: center;
}
.header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.header-links ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 24px;
    font-weight: 18px;
    color: #f9faf8;
}

.hero{
    background-color: #1f2937;
}

.hero-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10vh 20vh;
    gap: 64px;
    align-items: flex-start;
    align-items: center;
}

.hero-type{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bonk img{
    width: 500px;
    height: 234px;

}

.hero-main-text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
}

.hero-sub-text{
    font-size: 18px;
    color: #e5e7eb
}

.hero-type button{
    height: 35px;
    width: 100px;
    background-color: #3882f6;
    border-radius: 12px;
    border-style: none;
    color: #f9f9f8;
}

.info-header{
    margin: 5vh 20vh 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.info-header-text{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937
}

.images{
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.images img{
    border: 5px solid #0084ff;
    border-radius: 12px;
    width: 200px;
    height: 200px;
}
.image-atardecer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: rgb(92, 100, 107);
}

.image-cielo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: rgb(92, 100, 107)
}

.image-mar{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: rgb(92, 100, 107)
}

.image-sombra{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: rgb(92, 100, 107)
}

.quote-section{
    background-color: #e5e7eb;
    color: #38475c;
    display: flex;
    flex-direction: column;
}

.quote{
    font-size: 36px;
    font-style: italic;
    align-self: flex-end;
    margin: 10vh 20vh 0vh 20vh;
}

.author{
    display: flex;
    align-self: flex-end;
    margin: 0vh 20vh 10vh 0vh;
    font-weight: bolder;
    font-size: larger;
}

.action{
    display: flex;
    align-self: center;
    margin: 10vh 20vh;
}
.action-blue{
    display: flex;
    flex-direction: row;
    gap: 200px;
    background-color: #3882f6;
    padding: 40px 100px;
    border-radius: 12px;
    flex-shrink: 0;
}
.action-text{
    display: flex;
    flex-direction: column;
}
.action-header{
    color:#f9f9f8;
    font-size: large;
    font-weight: 900;
}
.action-subtext{
    color:#f9f9f8;
    font-size: small;
    font-weight: 100;
}

.action-blue button{
    display: flex;
    justify-self: flex-end;
    align-items: center;
    background-color: #3882f6;
    border-style: solid;
    border-radius: 12px;
    border-color: #f9f9f8;
    height: 35px;
    width: 100px;
    justify-content: center;
    color: #f9f9f8;
}
.footer{
    background-color: #1f2937;
}

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:5vh 20vh;
    align-items: center;
}
.footer-text{
    color:#e5e7eb;
    display: flex;
    justify-content: center;
}